/* This should be imported in your component or globally */
.custom-datepicker .react-datepicker__day--in-range,
.custom-datepicker .react-datepicker__day--in-selecting-range {
  background-color: #01a98240; /* semi-transparent */
  color: black;
}

.custom-datepicker .react-datepicker__day--range-start,
.custom-datepicker .react-datepicker__day--range-end {
  background-color: #01a982;
  color: white;
}
